$primary: #0074d9;
$danger: #ff4136;
$success:#60b793; 

// $theme-colors: (
    //   "primary":    $primary,
    //   "secondary":  $secondary,
    //   "success":    $success,
    //   "info":       $info,
    //   "warning":    $warning,
    //   "danger":     $danger,
    //   "light":      $light,
    //   "dark":       $dark
    // );

    
@import "../../node_modules/bootstrap/scss/bootstrap.scss"